# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.env

# Local SQLite temporary journal & WAL files
*.db-journal
*.db-wal
*.db-shm

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
